@font-face {
    font-family: domain;
    src: url(./FontStyle/5f242a69b1577e63266b4d72_DomaineDispCondMedium.woff2);
}
@font-face {
    font-family: canopee;
    src: url(./FontStyle/616fd1dd00cf6c70f978fc69_Canopee.woff2);
}
@font-face {
    font-family: domain-light;
    src: url(./FontStyle/5f242a694256f02b944d5767_EditorialNew-Light.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1C1C19;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    overflow-x: hidden;

}
#main {
    background-color: #1C1C19;
    overflow-x: hidden;
}

/* Page 1 */
#page1 {
    min-height: 62.5vw;
    width: 100vw;
    position: relative;
    background-color: #C4BCB3;
}
#page1 #nav {
    background-color: #C4BCB3;
    height: 6.25vw;
    width: 100%;
    padding: 0 2.344vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.156vw solid #716C65;
    z-index: 99;
}
#page1 #nav h5 {
    font-size: 1.406vw;
    font-weight: 100;
    font-family: domain-light;
}
#page1 #nav h2 {
    width: 22%;
    font-weight: 550;
    font-size: 1.953vw;
    font-family: canopee;
}
#page1 #nav i {
    font-size: 1.563vw;
    font-weight: 900;
}
#page1 #elem {
    height: 23.438vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.344vw 3.906vw;
}
#page1 #elem #elem1 {
    width: 30%;
    height: 100%;
}
#page1 #elem #elem1 #image_div {
    width: 100%;
    height: 60%;
    border: 0.078vw solid #716C65;
    overflow: hidden;
    cursor: pointer;
}
#page1 #elem #elem1 h4 {
    font-size: 1.563vw;
    font-weight: 200;
    margin: 0.781vw 0;
    font-family: canopee;
    display: flex;
    align-items: center;
}
#page1 #elem #elem1 span {
    display: inline-block;
    font-size: 1.172vw;
    padding: 0.234vw;
    background-color: #BA3B11;
    color: #C4BCB3;
    border-radius: 0.234vw;
}
#page1 #elem #elem1 p {
    font-size: 1.172vw;
    font-family: domain-light;
    color: #21211F;
}
#page1 #elem #image_div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.6s;
}
#page1 #elem #image_div:hover img {
    scale: 1.1;
}
#page1 #elem #elem2 {
    width: 30%;
    height: 100%;
    padding: 0.781vw 3.906vw;
    text-align: center;
    border-left: 0.156vw solid #716C65;
    border-right: 0.156vw solid #716C65;
}
#page1 #elem #elem2 h2 {
    font-family: canopee;
    font-size: 4.297vw;
    font-weight: 400;
    letter-spacing: -0.156vw;
}
#page1 #elem #elem2 h3 {
    font-family: domain-light;
    font-size: 2.344vw;
    font-weight: 400;
    color: #21211F;
    margin: 1.406vw 0;
    line-height: 2.734vw;
}
#page1 #elem #elem2 h6 {
    font-family: domain-light;
    font-size: 1.172vw;
    font-weight: 300;
}
#page1 #elem #elem2 h6 span {
    font-family: canopee;
    font-size: 1.406vw;
}
#page1 h1 {
    margin: 0 2.344vw;
    margin-top: 0.781vw;
    padding: 0 1.563vw;
    line-height: 31.25vw;
    letter-spacing: -1.484vw;
    font-size: 35.938vw;
    font-family: canopee;
    font-weight: 100;
    color: #C4BCB3;
    background-color: #1C1C19;
}

/* Page 2 */
#page2 {
    min-height: 62.5vw;
    width: 100%;
    background-color: #C4BCB3;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#page2 #part1 {
    margin: 2.344vw;
    margin-top: 3.906vw;
    height: 100%;
    width: 35%;
    border-right: 0.156vw solid #716C65;
}
#page2 #part1 h2 {
    font-size: 7.813vw;
    font-family: canopee;
    font-weight: 200;
    text-align: start;
    line-height: 9.375vw;
    letter-spacing: -0.234vw;
}
#page2 #part1 h2 span {
    font-size: 13.281vw;
    font-weight: 500;
}
#page2 #part1 img {
    width: 90%;
    margin-bottom: 2.344vw;
    border: 0.156vw solid #21211F;
}
#page2 #part1 p {
    width: 90%;
    font-size: 2.344vw;
    font-family: domain-light;
    color: #21211F;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
#page2 #part1 p span {
    margin-right: 0.781vw;
    display: inline-block;
    font-size:4.688vw;
    font-family: canopee;
    background-color: #1C1C19;
    color: #C4BCB3;
    padding: 0 0.625vw;
}
#page2 #part2 {
    margin-left: 1.563vw;
    margin-right: 2.344vw;
    margin-top: 3.906vw;
    height: 100%;
    width: 60%;
}
#page2 #part2 img {
    width: 100%;
    border: 0.156vw solid #21211F;
}
#page2 #part2 #part2-text {
    margin-top: 2.344vw;
}
#page2 #part2 #part2-text h1 {
    padding-top: 1.172vw;
    font-family: canopee;
    font-size: 7.656vw;
    font-weight: 200;
    letter-spacing: -0.234vw;

}
#page2 #part2 #part2-text hr {
    border: 0.156vw solid #716C65;
}


/* Page 3 */
#page3 {
    background-color: #C4BCB3;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 1.563vw 2.344vw;
}
#page3 #head {
    height: 25vw;
    background-color: #1C1C19;
    overflow: hidden;
}
#page3 h1 {
    margin-top: 1.172vw;
    padding: 0 1.563vw;
    padding-right: 2.344vw;
    line-height: 23.438vw;
    letter-spacing: -1.172vw;
    font-size: 28.906vw;
    font-family: canopee;
    font-weight: 100;
    color: #C4BCB3;
    background-color: #1C1C19;
}
#page3 img {
    height: 25.781vw;
} 


/* Page 4 */
#page4 {
    min-height: 62.5vw;
    width: 100%;
    background-color: #C4BCB3;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#page4 #part1 {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#page4 #part1 #top {
    height: 23.438vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.344vw;
}
#page4 #part1 #top #left {
    width: 50%;
    height: 100%;
    padding: 0.781vw 0;
    text-align: start;
    border-right: 0.156vw solid #716C65;
}
#page4 #part1 #top #left h2 {
    font-family: canopee;
    font-size: 4.297vw;
    font-weight: 400;
    letter-spacing:-0.156vw;
}
#page4 #part1 #top #left h3 {
    font-family: domain-light;
    font-size: 2.734vw;
    font-weight: 400;
    color: #21211F;
    margin: 1.406vw 0;
    line-height: 2.734vw;
}
#page4 #part1 #top #left h6 {
    font-family: domain-light;
    font-size: 1.172vw;
    font-weight: 300;
}
#page4 #part1 #top #left span {
    font-family: canopee;
    font-size: 1.406vw;
}
#page4 #part1 #top #right {
    padding-left: 3.906vw;
    width: 50%;
    height: 100%;
}
#page4 #part1 #top #right #image_div {
    width: 100%;
    height: 60%;
    border: 0.156vw solid #716C65;
    overflow: hidden;
    cursor: pointer;
}
#page4 #part1 #top #right h4 {
    font-size: 1.563vw;
    font-weight: 200;
    margin: 0.781vw 0;
    font-family: canopee;
    display: flex;
    align-items: center;
}
#page4 #part1 #top #right span {
    display: inline-block;
    font-size: 1.172vw;
    padding: 0.234vw;
    background-color: #BA3B11;
    color: #C4BCB3;
    border-radius: 0.234vw;
}
#page4 #part1 #top #right p {
    font-size: 1.172vw;
    font-family: domain-light;
    color: #21211F;
}
#page4 #part1 #top #right #image_div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.6s;
}
#page4 #part1 #top #right #image_div:hover img {
    scale: 1.1;
}
#page4 #part1 #bottom {
    margin-left: 2.344vw;
    width: 95%;
}
#page4 #part1 #bottom img {
    width: 100%;
    border: 0.156vw solid #21211F;
}
#page4 #part2 {
    margin: 2.344vw;
    padding-left: 2.344vw;
    height: 100%;
    width: 35%;
    border-left: 0.156vw solid #716C65;
}
#page4 #part2 h2 {
    font-size: 7.031vw;
    font-family: canopee;
    font-weight: 200;
    text-align: start;
    line-height: 9.375vw;
    letter-spacing: -0.234vw;
}
#page4 #part2 h2 span {
    font-size: 13.281vw;
    font-weight: 500;
}
#page4 #part2 img {
    width: 90%;
    margin-bottom: 2.344vw;
}
#page4 #part2 p {
    width: 100%;
    font-size: 2.109vw;
    font-family: domain-light;
    color: #21211F;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
#page4 #part2 p span {
    margin-right: 0.781vw;
    display: inline-block;
    font-size: 4.688vw;
    font-family: canopee;
    background-color: #1C1C19;
    color: #C4BCB3;
    padding: 0 0.625vw;
}
#page4 #part2 #egg {
    margin-top: 1.563vw;
    height: 14.063vw;
    width: 100%;
    border-radius: 50%;
    background-color: #CCC1B8;
    border: 0.156vw solid #716C65;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    cursor: pointer;

}
#page4 #part2 #egg #h1s {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    transform: translateX(-25%);
    transition: all ease 0.8s;
}
#page4 #part2 #egg h1 {
    font-weight: 200;
    font-size: 5.859vw;
    font-family: canopee;
    height: 100%;
    width: 100%;
    padding-left: 1.563vw;
}
#page4 #part2 #egg img {
    padding-top: 1.172vw;
    height: 4.141vw;
    width: 9.609vw;
    transform: translateX(-120%);
    transition: all ease 0.6s;
    margin-bottom: 2.344vw;
}
#page4 #part2 #egg:hover img {
    transform: translateX(120%);
}
#page4 #part2 #egg:hover #h1s {
    transform: translateX(100%);
}


/* Page 5 */
#page5 {
    background-color: #C4BCB3;
    padding: 2.344vw;  
}
#page5 #award-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 4.688vw;
    width: 100%;
    height: auto;
    padding: 1.563vw 0;
    border-top: 0.156vw solid #716C65;
    border-bottom: 0.156vw solid #716C65;
}
#page5 #award-container #award {
    display: flex;
    align-content: center;
    justify-content: baseline;
    text-align: center;
    cursor: pointer;
}
#page5 #award-container #award h2 {
    padding-top: 1.563vw;
    font-family: domain-light;
    font-size: 1.563vw;
    color: #21211F;
    font-weight: 100;
}
#page5 #award-container #award h2 span {
    font-family: canopee;
    font-size: 5.078vw;
    font-weight: 100;
    letter-spacing: -0.234vw;
}
#page5 #award-container #award h1 {
    padding-left: 1.172vw;
    font-family: domain;
    font-weight: 100;
    font-size: 10.938vw;
}


/* Page 6 */
#page6 {
    padding: 2.344vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C4BCB3;
}
#page6 #part1 {
    width: 50%;
    height: 100%;
}
#page6 #part1 #top {
    width: 95%;
    height: 50%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
#page6 #part1 #top h1 {
    line-height: 7.813vw;
    font-family: canopee;
    font-size: 29.688vw;
    font-weight: 100;
    letter-spacing: -1.172vw;
}
#page6 #part1 #top img {
    height: 21.094vw;
    width: 13.281vw;
    object-fit: cover;
    margin-right: 2.344vw;
    border: 0.156vw solid #21211F;
}
#page6 #part1 #bottom {
    width: 95%;
    height: 50%;
}
#page6 #part1 #bottom h1 {
    padding-top: 4.688vw;
    line-height: 19.531vw;
    font-family: canopee;
    font-size: 29.688vw;
    font-weight: 100;
    letter-spacing: -1.172vw;
}
#page6 #part2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
#page6 #part2 img {
    width: 100%;
    border: 0.156vw solid #21211F;
}

/* Page 7 */
#page7 {
    padding: 0 2.344vw;
    width: 100%;
    padding-top: 1.563vw;
    padding-bottom: 4.688vw;
    background-color: #C4BCB3;
}
#page7 #part1 {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
#page7 #part1 h1 {
    justify-self: right;
    line-height: 19.531vw;
    font-family: canopee;
    font-size: 29.688vw;
    font-weight: 100;
    letter-spacing: -1.172vw;
    padding-left: 2.344vw;
}
#page7 #part1  h1 span {
    display: inline-block;
    line-height: 17.969vw;
    font-family: domain;
    font-size: 29.688vw;
    font-weight: 100;
}
#page7 #part1 img {
    height: 21.094vw;
    border: 0.156vw solid #21211F;
}
#page7 #part2 {
    margin-top: 3.125vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#page7 #part2 #left {
    background-color: #1C1C19;

}
#page7 #part2 #left h1 {
    padding: 2.344vw;
    color: #C4BCB3;
    line-height: 19.531vw;
    font-family: canopee;
    font-size: 26.563vw;
    font-weight: 100;
    letter-spacing: -1.172vw;
    padding-left: 2.344vw;
}
#page7 #part2 #right {
    padding-left: 2.344vw;
}
#page7 #part2 #right p {
    font-size: 2.109vw;
    font-family: domain-light;
}
#page7 #part2 #right h1 {
    padding: 0.391vw 0;
    font-size: 7.813vw;
    font-family: canopee;
    font-weight: 100;
    letter-spacing: -0.391vw;
}


/* Page 8 */
#page8 {
    position: absolute;
    background-color: #C4BCB3;
    min-width: 100%;
    padding: 0 2.344vw;
    padding-bottom: 6.25vw;
    margin-bottom: 4.688vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-shrink: 0;
}
#page8 #card-container {
    width: 40.625vw;
    height: 25vw;
    border: 0.234vw solid #1C1C19;
    border-radius: 0.938vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C4BCB3;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1.094vw 2.188vw, rgba(0, 0, 0, 0.22) 0 0.781vw 0.781vw;
    cursor: pointer;
}
#page8 #card-container #card-dash {
    height: 91%;
    width: 95%;
    padding: 1.563vw;
    border-radius: 0.781vw;
    display: flex;
    flex-wrap: wrap;
}
#page8 #card-container #card-dash h1 {
    font-family: domain-light;
    font-weight: 100;
    font-size: 2.344vw;
    letter-spacing: -0.078vw;
    text-decoration: 0.156vw underline #716C65;
}
#page8 #card-container #card-dash #worker {
    align-self: flex-end;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#page8 #card-container #card-dash #worker img {
    height: 3.906vw;
    border: 0.156vw solid #1C1C19;
    border-radius: 50%;
}
#page8 #card-container #card-dash #worker #name-post {
    margin-left: 1.172vw;
}
#page8 #card-container #card-dash #worker #name-post h1 {
    text-decoration: none;
    font-family: canopee;
    font-size: 2.344vw;
}
#page8 #card-container #card-dash #worker #name-post p {
    font-family: domain-light;
    font-size: 1.406vw;
}
#page8 .two {
    position: relative;
    left: -14%;
}
#page8 .three {
    position: relative;
    left: -28%;
}
#page8 .four {
    position: relative;
    left: -42%; 
}


/* Page 9 */
#page9 {
    margin-top: 31.25vw;
    width: 100vw;
    background-color: #C4BCB3;
    padding-bottom: 3.906vw;
}
#page9 #elem {
    height: 23.438vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.344vw 0.781vw;
    margin: 0 2.344vw;
    border-top: 0.156vw solid #716C65;
}
#page9 #elem #elem1 {
    width: 30%;
    height: 100%;
}
#page9 #elem #elem1 #image_div {
    width: 100%;
    height: 60%;
    border: 0.156vw solid #716C65;
    overflow: hidden;
    cursor: pointer;
}
#page9 #elem #elem1 h4 {
    font-size: 1.563vw;
    font-weight: 200;
    margin: 0.781vw 0;
    font-family: canopee;
    display: flex;
    align-items: center;
}
#page9 #elem #elem1 span {
    display: inline-block;
    font-size: 1.172vw;
    padding: 0.234vw;
    background-color: #BA3B11;
    color: #C4BCB3;
    border-radius: 0.234vw;
}
#page9 #elem #elem1 p {
    font-size: 1.172vw;
    font-family: domain-light;
    color: #21211F;
}
#page9 #elem #image_div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.6s;
}
#page9 #elem #image_div:hover img {
    scale: 1.1;
}
#page9 #elem #elem2 {
    width: 30%;
    height: 100%;
    padding: 0.781vw 3.906vw;
    text-align: center;
    border-left: 0.156vw solid #716C65;
    border-right: 0.156vw solid #716C65;
}
#page9 #elem #elem2 h2 {
    font-family: canopee;
    font-size: 4.297vw;
    font-weight: 400;
    letter-spacing: -0.156vw;
}
#page9 #elem #elem2 h3 {
    font-family: domain-light;
    font-size: 2.344vw;
    font-weight: 400;
    color: #21211F;
    margin: 1.406vw 0;
    line-height: 2.734vw;
}
#page9 #elem #elem2 h6 {
    font-family: domain-light;
    font-size: 1.172vw;
    font-weight: 300;
}
#page9 #elem #elem2 h6 span {
    font-family: canopee;
    font-size: 1.406vw;
}


/* Page 10 */
#page10 {
    padding: 0 2.344vw;
    height: 10.156vw;
    width: 100%;
    background-color: #C4BCB3;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page10 #h1-container {
    height: 100%;
    width: 100%;
    background-color: #C4BCB3;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-top: 0.156vw solid #716C65;
    border-bottom: 0.156vw solid #716C65;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page10 ::-webkit-scrollbar {
    display: none;
}
#page10 h1 {
    font-size: 4.688vw;
    font-family: domain-light;
    font-weight: 100;
    display: inline-block;
    margin-right: 1.563vw;
    animation-name: scroll;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#page10 h1 span {
    font-family: canopee;
    font-size: 5.469vw;
    background-color: #21211F;
    color: #C4BCB3;
    padding: 0 0.781vw;
    cursor: pointer;
}
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-100% - 1.875vw));
    }
}
#page10:hover h1 {
    animation-play-state: paused;
}


/* Page 11 */
#page11 {
    width: 100vw;
    padding: 2.344vw;
    background-color: #C4BCB3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page11 #left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#page11 #left h1 {
    font-family: canopee;
    font-size: 1.563vw;
    font-weight: 100;
}
#page11 #left h1 i {
    font-family: canopee;
    font-size: 1.563vw;
    font-weight: 100;
}
#page11 #left img {
    margin-left: 0.781vw;
    margin-right: 0.781vw;
    height: 2.344vw;
}
#page11 #left h2 {
    font-family: domain-light;
    font-size: 1.406vw;
    font-weight: 100;
}
#page11 #right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#page11 #right h1 {
    font-family: canopee;
    font-size: 1.563vw;
    font-weight: 100;
}
#page11 #right #gola {
    height: 0.391vw;
    width: 0.391vw;
    background-color: #21211F;
    border-radius: 50%;
    margin-left: 0.781vw;
    margin-right: 0.781vw;
}



@media screen and (max-width: 479px) {
    #main {
        background-color: #C4BCB3;
    }
    /* Page 1 */
    #page1 {
        min-height: 21vw;
        padding: 0 3vw;
        padding-bottom: 1.044vw;
    }
    #page1 #nav {
        height: 8vh;
        border-bottom: 0.2vw solid #716C65;
    }
    #page1 #nav h5 {
        display: none;
    }
    #page1 #nav h2 {
        width: 100%;
        font-size: 5.219vw;
    }
    #page1 #nav i {
        font-size: 3.758vw;
    }
    #page1 #elem {
        height: 0;
        width: 0%;
        padding-left: 4vw;
        padding-right: 4vw; 
    }
    #page1 #elem #elem1 {
        display: none; 
    }
    #page1 #elem #elem2 {
        display: none;
    }
    #page1 h1 {
        font-size: 33.5vw;
    } 


    /* Page 2 */
    #page2 {
        min-height: 62.5vw;
        flex-direction: column-reverse;
        padding: 0 4vw;
    }
    #page2 #part1 {
        margin-top: 3.906vw;
        width: 96%;
        border-right: none;
    }
    #page2 #part1 h2 {
        font-size: 23vw;
        line-height: 25vw;
        letter-spacing: -0.634vw;
    }
    #page2 #part1 h2 span {
        font-size: 40vw;
    }
    #page2 #part1 img {
        width: 100%;
        border: 0.3vw solid #21211F;
    }
    #page2 #part1 p {
        width: 100%;
        font-size: 5vw;
    }
    #page2 #part1 p span {
        margin-top: 1.5vw;
        margin-right: 2vw;
        font-size: 10vw;
        padding: 0 2vw;
    }
    #page2 #part2 {
        width: 97%;
    }
    #page2 #part2 img {
        border: 0.3vw solid #21211F;
    }
    #page2 #part2 #part2-text {
        margin-top: 2.344vw;
    }
    #page2 #part2 #part2-text h1 {
        font-size: 11vw;
    }
    #page2 #part2 #part2-text hr {
        border: 0.078vw solid #716C65;
    }


    /* Page 3 */
    #page3 {
        display: none;
    }


    #page4 {
        min-height: 62.5vw;
        width: 100%;
        justify-content: center; 
        flex-direction: column;
        padding: 0 4vw;
    }
    #page4 #part1 {
        width: 100%;
        flex-direction: column;
    }
    #page4 #part1 #top {
        height: auto;
        flex-direction: column;
    }
    #page4 #part1 #top #left {
        width: 100%;
        height: 100%;
        text-align: center;
        border-right: none;
    }
    #page4 #part1 #top #left h2 {
        font-size: 20vw;
        letter-spacing:-0.5vw;
        line-height: 16vw;
    }
    #page4 #part1 #top #left h3 {
        font-size: 8vw;
        line-height: 9vw;
        text-align: start;
    }
    #page4 #part1 #top #left h6 {
        padding-top: 2vw;
        text-align: start;
        font-size: 4vw;
    }
    #page4 #part1 #top #left span {
        font-size: 4vw;
    }
    #page4 #part1 #top #right {
        padding-top: 7vw;
        padding-left: 0;
        width: 100%;
        height: 100%;
    }
    #page4 #part1 #top #right #image_div {
        height: 60%;
        border: 0.3vw solid #716C65;
    }
    #page4 #part1 #top #right #image_div img {
        scale: 1.1;
    }
    #page4 #part1 #top #right h4 {
        font-size: 9vw;
        margin: 2vw 0;
    }
    #page4 #part1 #top #right span {
        font-size: 7vw;
        padding: 0.234vw 1.5vw;
        border-radius: 1vw;
    }
    #page4 #part1 #top #right p {
        font-size: 4vw;
    }
    #page4 #part1 #top #right #image_div:hover img {
        scale: 1.2;
    }
    #page4 #part1 #bottom {
        display: none;
    }
    #page4 #part2 {
        margin-top: 3vw;
        padding-left: 0;
        width: 97%;
        border-left: none;
    }
    #page4 #part2 h2 {
        font-size: 19vw;
        line-height: 21vw;
    }
    #page4 #part2 h2 span {
        font-size: 35vw;
    }
    #page4 #part2 img {
        display: none;
    }
    #page4 #part2 p {
        font-size: 5vw;
        align-items: flex-start;
    }
    #page4 #part2 p span {
        margin-top: 1.5vw;
        margin-right: 1.5vw;
        font-size: 10vw;
        padding: 0 2vw;
    }
    #page4 #part2 #egg {
        display: none;
    }


    /* Page 5 */
    #page5 {
        padding: 5vw;  
    }
    #page5 #award-container {
        flex-wrap: wrap;
        gap: 0;
        border-top: 0.2vw solid #716C65;
        border-bottom: 0.2vw solid #716C65;
    }

    #page5 #award-container #award h2 {
        font-size: 3.5vw;
    }
    #page5 #award-container #award h2 span {
        font-size: 10vw;
    }
    #page5 #award-container #award h1 {
        font-size: 20vw;
    }


    /* Page 6 */
    #page6 {
        padding: 2.344vw 6vw;
        width: 100%;
        flex-direction: column-reverse;
        background-color: #C4BCB3;
    }
    #page6 #part1 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    #page6 #part1 #top {
        width: 97%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }
    #page6 #part1 #top h1 {
        padding-top: 5vw;
        font-size: 33vw;
    }
    #page6 #part1 #top img {
        display: none;
    }
    #page6 #part1 #bottom {
        width: 97%;
        height: 100%;
    }
    #page6 #part1 #bottom h1 {
        padding-top: 5vw;
        font-size: 33vw;
    }
    #page6 #part2 {
        width: 100%;
    }
    #page6 #part2 img {
        border: 0.3vw solid #21211F;
    }


    /* Page 7 */
    #page7 {
        padding:0 6vw;
        width: 100%;
        padding-top: 3vw;
        padding-bottom: 4.688vw;
        background-color: #C4BCB3;
    }
    #page7 #part1 {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
    }
    #page7 #part1 h1 {
        justify-self: start;
        font-size: 38vw;
        padding-left: 0;
        padding-top: 4vw;
    }
    #page7 #part1  h1 span {
        display: inline-block;
        line-height: 17.969vw;
        font-family: domain;
        font-size: 38vw;
        font-weight: 100;
    }
    #page7 #part1 img {
        display: none;
    }
    #page7 #part2 {
        margin-top: 4vw;
        justify-content: center;
        flex-direction: column;
    }
    #page7 #part2 #left h1 {
        padding: 2.344vw;
        line-height: 30vw;
        font-size: 35.5vw;
        font-weight: 100;
    }
    #page7 #part2 #right {
        padding-left: 0;
    }
    #page7 #part2 #right p {
        font-size: 5vw;
    }
    #page7 #part2 #right .sp {
        margin-top: 4vw; 
    }
    #page7 #part2 #right h1 {
        padding: 0;
        font-size: 23vw;
    }


    /* Page 8 */
    #page8 {
        height: auto;
        min-width: 100%;
        padding: 0 5vw;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #page8 #card-container {
        width: 100%;
        height: 60vw;
        border: 0.5vw solid #1C1C19;
        border-radius: 2vw;
        box-shadow: rgba(0, 0, 0, 0.25) 0 2vw 3vw, rgba(0, 0, 0, 0.22) 0 1vw 1vw;
        margin-bottom: 4vw;
    }
    #page8 #card-container:nth-child(3) {
        display: none;
    }
    #page8 #card-container:nth-child(4) {
        display: none;
    }
    #page8 #card-container #card-dash h1 {
        font-size: 5.5vw;
    }
    #page8 #card-container #card-dash #worker img {
        height: 12vw;
    }
    #page8 #card-container #card-dash #worker #name-post {
        margin-left: 3vw;
    }
    #page8 #card-container #card-dash #worker #name-post h1 {
        font-size: 6vw;
    }
    #page8 #card-container #card-dash #worker #name-post p {
        font-size: 5vw;
    }
    #page8 .two {
        left: 0%;
    }


    /* Page 9 */
    #page9 {
        margin-top: 133vw;
        height: auto;
        padding: 0 5vw;
    }
    #page9 #elem {
        min-height: 140vw;
        justify-content: center;
        flex-direction: column;
        padding: 2.344vw 0;
        margin: 0;
        border-top: 0.3vw solid #716C65;
    }
    #page9 #elem #elem1:nth-child(1) {
        display: none;
    }
    #page9 #elem #elem1 {
        width: 100%;
        height: 100%;
    }
    #page9 #elem #elem1 #image_div {
        width: 100%;
        height: 50%;
        border: 0.3vw solid #716C65;
    }
    #page9 #elem #elem1 h4 {
        font-size: 9vw;
        margin: 3vw 0;
    }
    #page9 #elem #elem1 span {
        font-size: 5vw;
        padding: 1vw 2vw;
        border-radius: 0.9vw;
    }
    #page9 #elem #elem1 p {
        font-size: 4vw;
    }
    #page9 #elem #image_div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all ease 0.6s;
    }
    #page9 #elem #image_div:hover img {
        scale: 1.1;
    }
    #page9 #elem #elem2 {
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: center;
        border-left: none;
        border-right: none;
    }
    #page9 #elem #elem2 h2 {
        font-size: 25vw;
    }
    #page9 #elem #elem2 h3 {
        font-size: 8vw;
        line-height: 8vw;
    }
    #page9 #elem #elem2 h6 {
        font-size: 4vw;
        font-weight: 300;
        padding: 2vw 0;
    }
    #page9 #elem #elem2 h6 span {
        font-size: 4vw;
    }


    /* Page 10 */
    #page10 {
        padding: 0 5vw;
        height: 25vw;
    }
    #page10 #h1-container {
        height: 100%;
        width: 100%;
        border-top: 0.3vw solid #716C65;
        border-bottom: 0.3vw solid #716C65;
    }
    #page10 ::-webkit-scrollbar {
        display: none;
    }
    #page10 h1 {
        font-size: 13vw;
        margin-right: 4vw;
    }
    #page10 h1 span {
        font-size: 14vw;
        padding: 0 2vw;
    }


    /* Page 11 */
    #page11 {
        width: 100vw;
        padding: 5vw;
    }
    #page11 #left h1 {
        font-size: 4vw;
    }
    #page11 #left h1 i {
        font-size: 4vw;
    }
    #page11 #left img {
        margin-left: 1vw;
        margin-right: 1vw;
        height: 5vw;
    }
    #page11 #left h2 {
        font-size: 3.5vw;
    }
    #page11 #right h1 {
        font-size: 4vw;
    }
    #page11 #right #gola {
        height: 0.7vw;
        width: 0.7vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
}